doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
    head
        meta(charset='UTF-8')
        meta(content='width=device-width, initial-scale=1' name='viewport')
        meta(name='x-apple-disable-message-reformatting')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(content='telephone=no' name='format-detection')
        title
        link(href='https://fonts.googleapis.com/css2?family=Montserrat&display=swap' rel='stylesheet')
    body
        .es-wrapper-color
            table.es-wrapper(width='100%' cellspacing='0' cellpadding='0')
                tbody
                    tr
                        td.esd-email-paddings(valign='top')
                            table.esd-header-popover.es-header(cellpadding='0' cellspacing='0' align='center')
                                tbody
                                    tr
                                        td.esd-stripe(align='center')
                                            table.es-header-body(bgcolor='#ffffff' align='center' cellpadding='0' cellspacing='0' width='700')
                                                tbody
                                                    tr
                                                        td.esd-structure.es-p20t.es-p10b.es-p20r.es-p20l(align='left' esd-custom-block-id='334496')
                                                            table(cellpadding='0' cellspacing='0' width='100%')
                                                                tbody
                                                                    tr
                                                                        td.es-m-p0r.esd-container-frame(width='660' valign='top' align='center')
                                                                            h1 Hello My friend, how are you?
                                                                            table(cellpadding='0' cellspacing='0' width='100%')
                                                                                tbody
                                                                                    tr
                            block content
                            table.es-content(cellpadding='0' cellspacing='0' align='center')
                                tbody
                                    tr
                                        td.esd-stripe(align='center')
                                            table.es-content-body(bgcolor='#ffffff' align='center' cellpadding='0' cellspacing='0' width='700')
                                                tbody
                                                    tr
                                                        td.esd-structure.es-p40t.es-p20r.es-p20l(align='left' esd-custom-block-id='334500')
                                                            table(cellpadding='0' cellspacing='0' width='100%')
                                                                tbody
                                                                    tr
                                                                        td.esd-container-frame(width='660' align='center' valign='top')
                                                                            table(cellpadding='0' cellspacing='0' width='100%')
                                                                                tbody
                                                                                    tr
                                                                                        td.esd-block-text(align='center')
                                                                                            h2 Need help?
                                                                                    tr
                                                                                        td.esd-block-spacer.es-p10t.es-p10b.es-m-txt-c(align='center' style='font-size:0')
                                                                                            table(border='0' width='40%' height='100%' cellpadding='0' cellspacing='0' style='width: 40% !important; display: inline-table;')
                                                                                                tbody
                                                                                                    tr
                                                                                                        td(style='border-bottom: 1px solid #cccccc; background:none; height:1px; width:100%; margin:0px 0px 0px 0px;')
                                                    tr
                                                        td.esd-structure.es-p20b.es-p20r.es-p20l(align='left' esd-custom-block-id='334501')
                                                            table.es-left(cellpadding='0' cellspacing='0' align='left')
                                                                tbody
                                                                    tr
                                                                        td.es-m-p20b.esd-container-frame(width='310' align='left')
                                                                            table(cellpadding='0' cellspacing='0' width='100%')
                                                                                tbody
                                                                                    tr
                                                                                        td.esd-block-text.es-p10t.es-p5b.es-m-txt-l(align='center')
                                                                                            h3 Ask at
                                                                                    tr
                                                                                        td.esd-block-button.es-p10t.es-p10b.es-m-txt-l(align='left')
                                                                                            span.es-button-border(style='background: #ffffff; display: block;')
                                                                                                a.es-button(href='mailto:' target='_blank' style='background: #ffffff; border-color: #ffffff; border-left-width: 30px; border-right-width: 30px; display: block;') lucasandjoseph@email.com
                                                            table.es-right(cellpadding='0' cellspacing='0' align='right')
                                                                tbody
                                                                    tr
                                                                        td.esd-container-frame(width='310' align='left')
                                                                            table(cellpadding='0' cellspacing='0' width='100%')
                                                                                tbody
                                                                                    tr
                                                                                        td.esd-block-text.es-m-txt-l.es-p10t.es-p5b(align='center')
                                                                                            h3 Visit our
                                                                                    tr
                                                                                        td.esd-block-button.es-m-txt-l.es-p10t.es-p10b(align='left')
                                                                                            span.es-button-border(style='background: #ffffff; display: block;')
                                                                                                a.es-button.es-button-1620385738243(href='https://viewstripo.email' target='_blank' style='background: #ffffff; border-color: #ffffff; border-width: 10px 30px; display: block;') Help center
                            table.es-footer.esd-footer-popover(cellpadding='0' cellspacing='0' align='center')
                                tbody
                                    tr
                                        td.esd-stripe(align='center' esd-custom-block-id='334502')
                                            table.es-footer-body(bgcolor='#ffffff' align='center' cellpadding='0' cellspacing='0' width='700')
                                                tbody
                                                    tr
                                                        td.esd-structure.es-p20(align='left')
                                                            table(cellpadding='0' cellspacing='0' width='100%')
                                                                tbody
                                                                    tr
                                                                        td.esd-container-frame(width='660' align='center' valign='top')
                                                                            table(cellpadding='0' cellspacing='0' width='100%')
                                                                                tbody
                                                                                    tr
                                                                                        td.esd-block-text(align='center')
                                                                                            p(style='line-height: 150%;')
                                                                                                | You are receiving this email because you have visited our site or asked us about the regular newsletter. Make sure our messages get to your Inbox (and not your bulk or junk folders).
                                                                                                br
                                                                                                a(target='_blank' style='line-height: 150%;' href='https://viewstripo.email') Privacy police
                                                                                                |
                                                                                                a(target='_blank' style='line-height: 150%;') Unsubscribe
